mixin navMenu(link, text, active)
  if(active)
    li.header__nav-item.active
      a.header__nav-link(href=link)=text
  else
    li.header__nav-item
      a.header__nav-link(href=link)=text

header.header
  +svgLink("header__logo", "header__svg-logo", "260", "145", "#", "top-logo")
  .header__toggle-menu
    +svg("header__menu-open-svg active", "28", "17", "menu")
    +svg("header__menu-close-svg", "28", "17", "close")
  .header__menu
    ul.header__nav
      +navMenu('#1', 'ГЛАВНАЯ', true)
      +navMenu('#2', 'УЧАСТНИКИ')
      +navMenu('#3', 'ЖЮРИ')
      +navMenu('#4', 'БИЛЕТЫ')
      +navMenu('#5', 'КОНТАКТЫ')
      ul.header__social-modal
        li.header__social-item
          +svgLink("header__social-link", "header__social-svg", "18", "35", "#", "fb")
        li.header__social-item
          +svgLink("header__social-link", "header__social-svg", "34", "34", "#", "insta")
        li.header__social-item
          +svgLink("header__social-link", "header__social-svg", "35", "29", "#", "twitter")
  .header__select-menu
    .header__wrapper-display
      p.header__select-display РУС
      .header__display-arrow
        +svg("header__display-arrow-svg", "9", "6", "arrow-lang")
    ul.header__select
      li.header__select-item.header__select-item--ru.active
        a.header__select-link.header__select-link--ru(href="#") РУС
      li.header__select-item.header__select-item--us
        a.header__select-link.header__select-link--us(href="#") АНГЛ
