extends layout/doctype
include layout/section/mixin


block content
  body
    include layout/header
    main
      include layout/section/promo
      include layout/section/party
      include layout/section/judges
      include layout/section/ticket
    script(src="swiper/swiper-bundle.min.js")
