extends layout/doctype

block content
  body
    include layout/header
    main
      include layout/section/promo
      include layout/section/party
      include layout/section/judges
    script(src="swiper/swiper-bundle.min.js")
