extends layout/doctype
include layout/section/mixin


block content
  body.body
    include layout/header
    main
      include layout/section/promo
      include layout/section/party
      include layout/section/judges
      include layout/section/ticket
      include layout/section/contacts
    footer.visually-hidden
    script(src="swiper/swiper-bundle.min.js")
    script(src="js/script.min.js")
