$tablet-width: 768px;
$desktop-width: 1920px;

$white: #ffffff;
$black: #000000;

$font-fira-sans: "Fira Sans", "Arial", sans-serif;
$font-raleway: "Raleway", "Arial", sans-serif;
$font-montserrat: "Montserrat", "Arial", sans-serif;
