-const infoPromo = [{link: "data", text: "18 ноября <br>12<sup>30</sup> – 20<sup>00</sup>"}, {link: "city", text: "Москва <br>Лофт-центр «Эдем»"}, {link: "place", text: "Победитель едет <br>на показ Blade в Париж!"}]

-const socialPromo = [{name: "fb", width: "18", height: "35", alt: "Мы в Фейсбуке"}, {name: "insta", width: "34", height: "34", alt: "Мы в Инстаграме"}, {name: "twitter", width: "35", height: "29", alt: "Мы в Твиттере"}]

section.promo
  .promo__wrapper
    h1.promo__title Показ лучших молодых дизайнеров России
    ul.promo__info
      for i in infoPromo
        li.promo__info-item(class="promo__info-item--" +i.link)
          p.promo__info-text !{i.text}
    a.promo__button(href="#") Бронь билета
    ul.promo__social
      for i in socialPromo
        li.promo__item
          a.promo__social-link(href="#")
            svg.promo__social-svg(role="img" aria-label=i.alt width=i.width height=i.height)
              use(xlink:href="img/stack.svg#" +i.name)
